<div class="cor-fundo espaco-lateral justify-content-between w-100 d-flex py-5">
  <div class="texto w-50 align-self-center flex-wrap">
    <h1 class="pb-5">Bem-vindo à nossa loja!</h1>
    <h4>
      Aqui, cada caneca conta uma história e traz um sorriso ao seu dia.
      Descubra a sua nova caneca favorita entre nossos designs exclusivos e
      cheios de personalidade
    </h4>
  </div>
  <div class="d-flex justify-content-center w-40">
    <img src="../../assets/imgs/caneca-presentation.png" class="w-80" />
  </div>
</div>

<div class="produto-item p-4">
  <div *ngFor="let produto of listaProdutos" class="p-3">
    <apresentacao-produto
      [produto]="produto"
      (click)="selecionarProduto(produto)"
    ></apresentacao-produto>
  </div>
</div>
