<div class="espaco-lateral d-flex flex-wrap pt-5">
  <div class="col-4 posicao">
    <img class="w-100" src="./../../assets/imgs/caneca-presentation.png" />
  </div>

  <div class="col-6" *ngIf="produto">
    <div class="mx-4 tam-letra linha">
      <span class="w-100 ps-2">{{ produto.nome }}</span>
    </div>
    <div class="mx-4 d-flex flex-column">
      <div class="ps-2 pb-2 mt-5 d-flex flex-column linha">
        <span class="fw-bold mb-3">Descrição:</span>
        <span>{{ produto.detalhe }}</span>
      </div>
      <div class="ps-2 pb-2 mt-5 d-flex flex-column linha">
        <span class="fw-bold">Por:</span>
        <span>{{ produto.valor | moedaBRL }}</span>
      </div>
    </div>
  </div>

  <div class="col-2 p-2 d-flex flex-column justify-content-between border">
    <div class="w-100 pb-2 linha">
      <span class="fw-bold">Resumo da Compra</span>
    </div>
    <div
      class="d-flex justify-content-between aling-items-center flex-wrap mt-2"
      *ngFor="let item of listaDeProdutos"
    >
      <div class="d-flex flex-column ps-2">
        <div class="d-flex flex-wrap">
          <span class="fw-bold me-2">Nome:</span><a>{{ item.nome }}</a>
        </div>
        <div class="d-flex flex-wrap">
          <span class="fw-bold me-2">Valor:</span><a>{{ item.valor | moedaBRL}}</a>
        </div>
        <div class="d-flex flex-wrap">
          <span class="fw-bold me-2">Quantidade</span><a>{{ item.quantidade }}</a>
        </div>
      </div>
      <div class="d-flex flex-column">
        <button class="btn btn-remover" (click)="reduzirItem(item)"> - </button>
        <button class="btn btn-apagar" (click)="removerItem(item)"><img src="./../../assets/imgs/trash.svg"/></button>
      </div>
    </div>
    <div>
      <button class="my-2 btn btn-adicionar w-100" (click)="adicionarItem()">
        Adicionar Carrinho
      </button>
      <button class="my-2 btn btn-comprar w-100" (click)="comprar()">Comprar</button>
    </div>
  </div>
</div>
