<div class="espaco-lateral d-flex flex-wrap pt-5">
  <div class="col-4 posicao">
    <img class="w-100" src="./../../assets/imgs/caneca-presentation.png" />
  </div>

  <div class="col-6" *ngIf="produto">
      <div class="mx-4 tam-letra linha">
        <input
          class="w-100 ps-2 form-control tam-letra input"
          [class.disabled]="!isEdit"
          [disabled]="!isEdit"
          [(ngModel)]="produto.nome"
        />
      </div>
      <div class="mx-4 d-flex flex-column">
        <div class="ps-2 pb-2 mt-1 d-flex flex-column linha">
          <label class="fw-bold mb-3">Descrição:</label>
          <textarea
            class="form-control txt-area"
            rows="4"
            [class.disabled]="!isEdit"
            [disabled]="!isEdit"
            [(ngModel)]="produto.detalhe"
          ></textarea>
        </div>
        <div class="ps-2 pb-2 mt-5 d-flex linha justify-content-between">
          <div class="d-flex flex-column">
            <label class="fw-bold">Por:</label>
            <input
            *ngIf="isEdit"
              class="form-control input"
              [class.disabled]="!isEdit"
              [disabled]="!isEdit"
              [(ngModel)]="produto.valor"
              [ngModelOptions]="{updateOn: 'blur'}"
            />
            <span *ngIf="!isEdit">{{produto.valor | moedaBRL}}</span>
          </div>
          <div *ngIf="isEdit">
            <div class="d-flex flex-column">
              <label class="fw-bold">Data Lote:</label>
              <input
                class="form-control input"
                type="date"
                [class.disabled]="!isEdit"
                [disabled]="!isEdit"
                [(ngModel)]="produto.dt_lote"
              />
            </div>
            <div class="d-flex flex-column">
              <label class="fw-bold">Quantidade Estoque:</label>
              <input
                class="form-control input"
                [class.disabled]="!isEdit"
                [disabled]="!isEdit"
                [(ngModel)]="produto.quantidadeEstoque"
              />
            </div>
          </div>
        </div>
      </div>
    <div class="d-flex justify-content-between align-items-center mt-3 w-80">
      <div class="d-flex flex-column">
        <button class="btn-edit bg-primary" (click)="toogleEdit()">
          Editar Produto
        </button>
        <button class="btn-edit bg-danger mt-3" (click)="deleteProduto()">
          Deletar Produto
        </button>
      </div>
      <div *ngIf="isEdit">
        <button class="btn-edit bg-warning me-3" (click)="cancelarProduto()">
          Cancelar Alteração
        </button>
        <button class="btn-edit bg-success" (click)="editarProduto()">
          Salvar Alteração
        </button>
      </div>
    </div>
  </div>

  <div class="col-2">
    <resumo-compra [produto]="produto"></resumo-compra>
  </div>
</div>
