<div class="espaco-lateral d-flex flex-wrap pt-5">
  <div class="col-4 posicao">
    <img class="w-100" src="./../../assets/imgs/caneca-presentation.png" />
  </div>

  <div class="col-6" *ngIf="produto">
    <div class="mx-4 tam-letra linha">
      <span class="w-100 ps-2">{{ produto.nome }}</span>
    </div>
    <div class="mx-4 d-flex flex-column">
      <div class="ps-2 pb-2 mt-5 d-flex flex-column linha">
        <span class="fw-bold mb-3">Descrição:</span>
        <span>{{ produto.detalhe }}</span>
      </div>
      <div class="ps-2 pb-2 mt-5 d-flex flex-column linha">
        <span class="fw-bold">Por:</span>
        <span>{{ produto.valor | moedaBRL }}</span>
      </div>
    </div>
  </div>

  <div class="col-2">
    <resumo-compra [produto]="produto"></resumo-compra>
  </div>
</div>
